# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
   # Triggers the workflow on push or pull request events but only for the main branch
   push:
      branches: [main]
   pull_request:
      branches: [main]

   # Allows you to run this workflow manually from the Actions tab
   workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
   # This workflow contains a single job called "build"
   build:
      runs-on: self-hosted

      strategy:
        matrix:
          node-version: ['12.22.1']
          # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

      steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      
      - run: rm package-lock.json .env
        continue-on-error: true
      - run: rm -rf ./node_modules
        continue-on-error: true
      - run: rm -rf ./build
        continue-on-error: true
      - run: echo "REACT_APP_STRAPI_BASE_URL=https://strapi.monnom.mn" >> .env
      - run: echo "REACT_APP_EXPRESS_BASE_URL=https://express.monnom.mn" >> .env
      - run: echo "GENERATE_SOURCEMAP=false" >> .env
      - run: echo "REACT_APP_FCM_KEY=AAAA6YS5v-A:APA91bEXNmz80Kywb3Yeh48n1U9O47GUSt81AoCKYWp5CLGbiQBfIasJ_P2Yu7zVUGDKcInuLvVPtzXhD_fPWQd494-UK5yFl-usQHIRyKoBTphNCY8qEQk0v0QqiMayjVWnohzA7MNy" >> .env
      - run: npm i --legacy-peer-deps
      - run: npm run build
      - run: pm2 delete static-page-server-3000 --silent
        continue-on-error: true
      - run: pm2 serve build 3000 --spa

